<div id="question-{{q_id}}-answer-0" class="answer-container">
    <div class="answer-header">
        <button class="delete-answer btn btn-danger btn-xs pull-right" type="button">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <label class="btn btn-success btn-xs pull-right">
            <input id="Questions_{{q_id}}__Answers_0__IsCorrect" name="radio-{{q_id}}" class="answer-is-correct" type="radio" value="true" autocomplete="off" checked />
            <span class="glyphicon glyphicon-ok">Correct</span>
        </label>
    </div>
    <input type="hidden" id="Questions_{{q_id}}__Answers_0__ContentPlaintext" name="Questions[{{q_id}}].Answers[0].ContentPlaintext" value="" />
    <h4>Answer {{q_id}}</h4>
    <textarea id="Questions_{{q_id}}__Answers_0__Content" name="Questions[{{q_id}}].Answers[0].Content" class="answer-content summernote form-control"></textarea>
</div>

<script>
    $('.summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 200,
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['para', ['ul', 'ol', 'paragraph']]
        ],
        disableResizeEditor: true
    });
</script>

<script src=""></script>