@*@model iTest.Web.Areas.Admin.Models.AdminAnswerViewModel*@

<div class="row">
    <h4 class="col-md-6">Answer 1</h4>
    <div class=" col-md-2 pull-right">
        @*<input asp-for="IsCorrect" type="checkbox">  
            *@

    </div>
    <div>
        <textarea style="resize: none;" class="form-control" rows="3"></textarea>
    </div>

</div>
