@*@using iTest.Web.Areas.Admin.Models
    @model iTest.Web.Areas.Admin.Models.CreateQuestionViewModel
    <div class="question-container">
        <div>
            <h2 style="display: inline-block" class="question-count">
                Question
            </h2>
            <button style="margin-top:2%" type="button" class="delete-question btn btn-default pull-right">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>

        <div class="form-group question">
            <div>Description</div>

            <textarea asp-for="Description" class="form-control questionText summernote" rows="5" id="question-content"></textarea>
            <div class="answer">
                @Html.Partial("_CreateAnswer")
            </div>
            <div class="answer">
                @Html.Partial("_CreateAnswer")
            </div>
            <div class="answer">
                @Html.Partial("_CreateAnswer")
            </div>

        </div>
        <div>
            <button type="button" id="new-answer-button" class="new-answer-button btn btn-default pull-right">Add New Answer</button>
        </div>
    </div>
    <div style="clear:both"></div>*@


<h3>Question <span class="question-number"></span></h3>
<div class="question-holder">
    <div class="question-content">
        <h4><strong>Question</strong><span class="question-number"></span>:</h4>
        <div>
            <button type="button" class="btn btn-default btn-sm delete-question-btn">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <div class="summernote"></div>
        
        <hr />
    </div>
    <div class="answer-holder">
        <div class="answer-content">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <strong>Answer <span class="answer-number"></span>:</strong>
                </div>
                <div class="col-xs-6 col-md-9 text-right">
                    <input type="checkbox" class="correct-answer-cb" value="option1"> Correct answer
                </div>
            </div>
            <div class="summernote"></div>
            <div>
                <button type="button" class="btn btn-default btn-sm delete-answer-btn">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
            <hr />
        </div>
        <div class="answer-content">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <strong>Answer <span class="answer-number"></span>:</strong>
                </div>
                <div class="col-xs-6 col-md-9 text-right">
                    <input type="checkbox" class="correct-answer-cb" value="option1"> Correct answer
                </div>
            </div>
            <div class="summernote"></div>
            <div>
                <button type="button" class="btn btn-default btn-sm delete-answer-btn">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
            <hr />
        </div>
        <div class="answer-content">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <strong>Answer <span class="answer-number"></span>:</strong>
                </div>
                <div class="col-xs-6 col-md-9 text-right">
                    <input type="checkbox" class="correct-answer-cb" value="option1"> Correct answer
                </div>
            </div>
            <div class="summernote"></div>
            <div>
                <button type="button" class="btn btn-default btn-sm delete-answer-btn">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
            <hr />
        </div>
        <div class="extra-answer-container"></div>
        <button type="button" class="btn btn-success add-answer-btn">Add answer</button>
    </div>
</div>

