@*@model iTest.Web.Areas.Admin.Models.AdminQuestionViewModel*@
<div class="row">
    <div class="well">

    </div>
    <div class="pull-right">
        <button class="btn btn-info" type="submit" value="false">Add New Answer</button>
    </div>

    @*<span asp-validation-for="Answers" class="text-danger"></span>*@
</div>
