<div id="question-{{q_id}}" class="question-container panel panel-default">

    <button class="collapseBtn question btn btn-success btn-sm pull-right" href="#collapse-IRINA" data-toggle="collapse" type="button">
        <span class="changeIcon glyphicon glyphicon-plus"></span>
    </button>
    <button class="delete-question btn btn-danger btn-sm pull-right" type="button">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button class="edit-question btn btn-info btn-sm pull-right" type="button">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <div>
        <a class="panel-heading" href="#collapse-IRINA" data-toggle="collapse">
            <h4 class="panel-title">
                Question {{q_number}}
            </h4>
        </a>
    </div>
    <div id="collapse-IRINA" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="question-description">
                <h4>Description</h4>
                <input type="hidden" id="Questions_{{q_id}}__Description" name="Questions[{{q_id}}].Description" value="" />
                <textarea id="Questions_{{q_id}}__Body" name="Questions[{{q_id}}].Description" class="summernote form-control"></textarea>
            </div>

            @*@Html.Partial("_Answer")*@

            <div class="answers-container">


                @*question 1*@
                <div id="question-{{q_id}}-answer-0" class="answer-container">
                    <div class="answer-header">
                        <button class="delete-answer btn btn-danger btn-xs pull-right" type="button">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <label class="btn btn-success btn-xs pull-right">
                            <input id="Questions_{{q_id}}__Answers_0__IsCorrect" name="radio-{{q_id}}" class="answer-is-correct" type="radio" value="true" autocomplete="off" checked />
                            <span class="glyphicon glyphicon-ok">Correct</span>
                        </label>
                    </div>
                    <input type="hidden" id="Questions_{{q_id}}__Answers_0__Description" name="Questions[{{q_id}}].Answers[0].Description" value="" />
                    <h4>Answer 1</h4>
                    <textarea id="Questions_{{q_id}}__Answers_0__Description" name="Questions[{{q_id}}].Answers[0].Description" class="answer-content summernote form-control"></textarea>
                </div>

                @*question 2*@
                <div id="question-{{q_id}}-answer-1" class="answer-container">
                    <div class="answer-header">
                        <button class="delete-answer btn btn-danger btn-xs pull-right" type="button">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <label class="btn btn-success btn-xs pull-right">
                            <input id="Questions_{{q_id}}__Answers_1__IsCorrect" name="radio-{{q_id}}" class="answer-is-correct" type="radio" value="true" autocomplete="off" checked />
                            <span class="glyphicon glyphicon-ok">Correct</span>
                        </label>
                    </div>
                    <input type="hidden" id="Questions_{{q_id}}__Answers_1__Description" name="Questions[{{q_id}}].Answers[1].Description" value="" />
                    <h4>Answer 2</h4>
                    <textarea id="Questions_{{q_id}}__Answers_1__Description" name="Questions[{{q_id}}].Answers[1].Description" class="answer-content summernote form-control"></textarea>
                </div>

                @*question 3*@
                <div id="question-{{q_id}}-answer-2" class="answer-container">
                    <div class="answer-header">
                        <button class="delete-answer btn btn-danger btn-xs pull-right" type="button">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <label class="btn btn-success btn-xs pull-right">
                            <input id="Questions_{{q_id}}__Answers_2__IsCorrect" name="radio-{{q_id}}" class="answer-is-correct" type="radio" value="true" autocomplete="off" checked />
                            <span class="glyphicon glyphicon-ok">Correct</span>
                        </label>
                    </div>
                    <input type="hidden" id="Questions_{{q_id}}__Answers_2__Description" name="Questions[{{q_id}}].Answers[2].Description" value="" />
                    <h4>Answer 3</h4>
                    <textarea id="Questions_{{q_id}}__Answers_2__Description" name="Questions[{{q_id}}].Answers[2].Description" class="answer-content summernote form-control"></textarea>
                </div>


                
            </div>
        </div>
        <div class="panel-body">
            <button class="add-answer btn btn-default pull-right" name="collapse-{{q_id}}" type="button">Add Answer</button>
        </div>
    </div>
</div>

<script>
    $('.summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 100
    });
</script>
