@using iTest.Web.Areas.Admin.Models.ManageTest
@model iTest.Web.Areas.Admin.Models.ManageTest.CreateTestViewModel
@{
    ViewData["Title"] = "New Test";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <form id="test-form">
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-xs-4 col-md-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Test name" id="test-name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-4 col-md-4">
                <label asp-for="RequestedTime">Required time</label>
                <input asp-for="RequestedTime" class="form-control" placeholder="In minutes" id="test-time" />
                <span asp-validation-for="RequestedTime" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-4 col-md-4">
                <label asp-for="CategoryName"></label>
                <select asp-for="CategoryName" asp-items="Model.Categories" class="form-control"></select>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <p><strong>Add questions to your test</strong></p>
            </div>
            <div class="col-xs-6 col-md-9 text-right add-question-btn-container">
                <input type="button" name="Add" value="Add question" id="add-question-btn" class="btn btn-info" />
            </div>
        </div>
        <hr />
        <div id="question-container"></div>
        <hr />
        <div class="row text-right create-btns-container">
            <input type="button" name="Publish" value="Save as draft" id="draft-btn" class="btn btn-default" />
            <input type="button" name="Publish" value="Publish" id="publish-btn" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
    <script src="~/js/create-test.js"></script>
}